train/danish.txt profile/danish.profile danish
train/dutch.txt profile/dutch.profile dutch
train/english.txt profile/english.profile english
train/finnish.txt profile/finnish.profile finnish
train/french.txt profile/french.profile french
train/german.txt profile/german.profile german
train/italian.txt profile/italian.profile italian
train/norwegian.txt profile/norwegian.profile norwegian
train/swedish.txt profile/swedish.profile swedish
train/turkish.txt profile/turkish.profile turkish
